:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  background-color: white;
  background-repeat: repeat;
  background-image: 
  linear-gradient(to right, #f0f0f0 1px, transparent 1px), 
  linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
background-size: 6rem 4rem;
}

main{
  height: 100%;
  width: 600px;
  background-color: white;
}

.cart{
  width: 600px;
  height: 100%;
  display: grid;
  position: absolute;
  place-items: center;
  z-index: 30;
}

.cartText {
  text-align: center;
  font-size: 18px;
}

.cartImg{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.inputCart{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  width: 300px;
}

.inputCart:focus{
  box-shadow: none;
  border-color: #000000;
}

.btnCart {
  text-align: center;
  font-size: 24px;
  color: black;
  background-color: transparent;
  border: none;
  position: relative;
}

.numberCart{
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #AE1209;
  color: white;
  font-weight: 700;
  width: 20px;
  border-radius: 50%;
  font-size: 14px;
}

@media (max-width: 515px) {
  .cart{
    width: 100vw;
  }

  .cartMain{
    width: 100vw;
    height: 100%;
  }

  .cartImg{
    height: 100px;
    width: 80px;
    object-fit: cover;
  }

  .cartText {
    font-size: 14px;
  }

  .foodContainer{
    height: 150px;
  }
}

header {
  height: 150px;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.carousel-inner{
  height: 340px;
  width: 100%;
  display: flex;
  justify-content: center center;
  align-items: center;
} 

@media only screen and (max-width: 767px) {
  .carousel-inner{
    height: 240px;
    width: 100%;
    display: flex;
    justify-content: center center;
    align-items: center;
  } 
}

.figure {
  aspect-ratio: 1/1;
  height: 140px;
  border: 50%;
}

.figureImg{
  margin: 0;
  padding: 0;
  width: 9rem;
  height: 7rem;
  cursor: pointer;
}

.figureImg .img{
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.figureImg:hover .img{
  filter: brightness(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Moli Ahumado Titulo  */
.title {
  font-family: 'Lobster', system-ui;
  line-height: 0.5;
}

.accordion-collapse{
  padding: 0px;
}

.food {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.foodContainer{
  display: flex; 
  justify-items: center;
  border: #000000 1px solid;
}

.accordion-button:focus{
  outline: none;
  box-shadow: none;
  color: none;
}

.accordion-body{
  display: flex;
  justify-content: space-between;
  border: #e0e0e0 1px solid;
  border-radius: 0.5rem;
  padding: 10px;
}

.foodCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.foodDescription {
  max-width: 75%;
  font-size: 0.8rem;
}

.foodControl{
  max-width: 95%;
}

/* Boton open */
.position-x {
  font-size: 14px;
  bottom: 10px;
  right: 10px;
}

.bottom-1{
  bottom: 26px;
}


.imgBackground {
  position: absolute;
  display: grid;
  height: 300px;
  width: 300px;
  place-items: center;
  z-index: 2;
}

/* Modal image */

.modalMain {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
} 

.modalContenedor{
  display: grid;
  place-items: center;
  height: 340px;
  width: 340px;
}

.modalImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.btnAddCart{
  width: 20px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
                                   
/* Animaciones */

.tilt-in-top-1 {
	animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes tilt-in-top-1 {
  0% {
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

.jello-horizontal {
	animation: jello-horizontal 0.9s both;
}

 @keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.labelCheck {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #333;
}

.labelCheck input[type="radio"] {
  display: none;
}

.labelCheck .checkmark {
  position: absolute;
  top: 15;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #000000;
  border-radius: 50%;
}

.labelCheck:hover input ~ .checkmark {
  background-color: #4e4e4e;
}

.labelCheck input:checked ~ .checkmark {
  background-color: #000000;
}

.labelCheck .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.labelCheck input:checked ~ .checkmark::after {
  display: block;
}

.labelCheck .checkmark::after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

