:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #242424;
}

main{
  height: 100%;
  width: 600px;
  background-color: white;
}

header {
  height: 150px;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.carousel-inner{
  height: 340px;
  width: 100%;
  display: flex;
  justify-content: center center;
  align-items: center;
}

.figure {
  height: 100px;
  width: 100x;
  border: 50%;
}

.title {
  font-family: 'Lobster', system-ui;
  line-height: 0.5;
}

.foodButton {
  width: 100%;
  padding: 5px;
  font-size: 24px;
}

.food {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 5px;
  padding-bottom: 3px;
}

.foodCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.foodTitle {
  font-size: 22px;
  line-height: 0.4;
}

.foodDescription {
  width: 75%;
  font-size: 14px;
}

.foodPrice {
  font-size: 18px;
  font-weight: 600;
}

.foodImg {
  height: 100%;
  width: 90px;
  border-radius: 8px;
}

.sum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 100px;
  bottom: 20px;
}