:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  background-color: white;
  background-repeat: repeat;
  background-image: 
      linear-gradient(to right, #f0f0f0 1px, transparent 1px), 
      linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  background-size: 6rem 4rem;
}

main{
  height: 100%;
  width: 600px;
  background-color: white;
}

header {
  height: 150px;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.carousel-inner{
  height: 340px;
  width: 100%;
  display: flex;
  justify-content: center center;
  align-items: center;
} 

@media only screen and (max-width: 767px) {
  .carousel-inner{
    height: 240px;
    width: 100%;
    display: flex;
    justify-content: center center;
    align-items: center;
  } 
}

.figure {
  aspect-ratio: 1/1;
  height: 120px;
  border: 50%;
}

.figureImg{
  aspect-ratio: 1/1;
  height: 120px;
  padding: 10px;
}

.img {
  height: 100%;
  width: 100%;
}

/* Moli Ahumado Titulo  */
.title {
  font-family: 'Lobster', system-ui;
  line-height: 0.5;
}

.food {
  width: 100%;
  height: auto;
  padding-left: 22px;
}

.foodContainer{
  display: flex;
  justify-content: space-between;
}

.accordion-button:focus{
  outline: none;
  box-shadow: none;
  color: none;
}

.foodCard {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.foodDescription {
  width: 85%;
  font-size: 13px;
}

/* Boton open */
.position-x {
  font-size: 14px;
  bottom: 10px;
  right: 10px;
}

.bottom-1{
  bottom: 26px;
}

.contenedorImg{
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  z-index: 2;
}

.imgBackground {
  position: absolute;
  display: grid;
  height: 300px;
  width: 300px;
  place-items: center;
  z-index: 2;
}
